

body {background-color: #5a5959}

.cont {width: 370px; height: 750px; background-color: black; margin: 0 auto; position: relative; display: flex; flex-direction: column; align-items: center; border-radius: 20px; overflow: hidden;}

.but_menu { background-color: transparent; width: 94%; height: 80px; position: absolute; top: 200px; display: flex; gap: 12px;}
.but_menu2 {background-color: transparent; width: 94%; height: 80px; position: absolute; top: 300px; display: flex; gap: 12px;}
.but_menu3 {background-color: transparent; width: 94%; height: 80px; position: absolute; top: 400px; display: flex; gap: 12px;}
.but_menu4 {background-color: transparent; width: 94%; height: 80px; position: absolute; top: 500px; display: flex; gap: 12px;}
.last_menu {background-color: transparent; width: 94%; height: 80px; position: absolute; top: 600px; display: flex; gap: 12px;}






.but {width: 23%; height: 100%; background-color: rgb(190, 190, 190); border-radius: 50%; border: none; cursor: pointer;}

.but_col {width: 23%; height: 100%; background-color: orange; border-radius: 50%; border: none; cursor: pointer;}


.but2 {width: 23%; height: 100%; background-color: rgb(85, 85, 85); border-radius: 50%; border: none; cursor: pointer;}

.but_col2 {width: 23%; height: 100%; background-color: orange; border-radius: 50%; border: none; cursor: pointer;}


.but3 {width: 23%; height: 100%; background-color: rgb(85, 85, 85);; border-radius: 50%; border: none; cursor: pointer;}

.but_col3 {width: 23%; height: 100%; background-color: orange; border-radius: 50%; border: none; cursor: pointer;}


.but4 {width: 23%; height: 100%; background-color: rgb(85, 85, 85);; border-radius: 50%; border: none; cursor: pointer;}

.but_col4 {width: 23%; height: 100%; background-color: orange; border-radius: 50%; border: none; cursor: pointer;}

.last_but {width: 23%; height: 100%; background-color: rgb(85, 85, 85);; border-radius: 50%; border: none; cursor: pointer;}

.last_but_long {width: 46%; height: 100%; background-color: rgb(85, 85, 85);; border-radius: 50px; border: none; cursor: pointer;}

.last_but_col {width: 23%; height: 100%; background-color: orange; border-radius: 50%; border: none; cursor: pointer;}



span {font-size: 26px; color: white; }

.txt_zero {margin-right: 90px; font-size: 30px;}

.inpt {width: 85%; height: 80px; background-color: transparent; position: absolute; top: 80px; display: flex; justify-content: end;}


.inpt_txt {font-size: 80px; font-family: 'Open Sans', sans-serif;}

.del_div {cursor: pointer; width: 30px; height: 30px; background-size: cover; background-color: transparent; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAYAAAA6GuKaAAAAAXNSR0IArs4c6QAAAoZJREFUaEPtmLtrFVEQh79UkkIsfOIjMSLxSTqxSGOElAabELW0SKWND1AxASUqEtFGC7GwUjBNxD9AjQlioTZCiCiGaGFnF9K6I+fAsuzdnTln78bAbnf3npn57m/n/M7s7WANXh1rkJkGuq6n1ijdKF2gQNMe/3t7dAIngX1tAt0JLAP3gF/ZGiHtIcAfgL42AafT/gEGgc/pmyHQ007lGpj/lZgHDsVA3wau1kWbqtMLfPOfLUqfAZ6tArCUPAbMWKGPALPAulWCHkjA31qgu4BPwCYDsDzKDcCWgpg3iXoCo7lM0OIUH4GDmsxujVjUUUBi3wNbc2LFyi4D48ANRW41tPT7y8RuhhRJ/ZLfQD+w6G7sAd4BO1I5PLC/NQlcKqmhhg5xiqfA2QyAgMt+2A7cAq5nvpcDaqEK6BineABcyEDsBkaSlrmbub/fuUJR70tIqdJVOMUTYLREPVF4TrnBC6HXA99Ldr22xR8B51osPuwsbKMyWSG07HqZK6q6TgEvcpL9AHoMRUrbQxxgmyFhq6UPgfMtvhQLlcNis7JOKXQVPV0E7Dkr62mf8DTwXKlCdtl94KLBPWQzlvV2qdK+nnjqNSN4nmuI3YlPy2Cf59N70xNci3pq6NATUTazf9uo/USUHx0ye8gRLke5ZvYYA24qnqZaaZ9rl3vdsUx5X92UV+RCr5O55LgCWHUi5uWpwlGUfLnLzEr7LMPJiDoVUzkiNhhaat4BrkQUDw09kJ4ELe+IvuCr5E3mRGj1gLifQHc6LgS6zv89lpxAX2KhJV5OsIlkGJLH1o5rxb01Pc5LHqJ0OyBNORtok1wRixulI8QzhTZKm+SKWNwoHSGeKfQveI5oLnOhbn4AAAAASUVORK5CYII=);}

