body{background-color: black;}

.divv {width: 350px; height: 300px; margin-left: 500px; margin-top: 200px; background-color: white; border-radius: 20px; background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-03/1614724659_55-p-foni-dlya-lendinga-62.jpg); background-size: cover; position: relative; display: flex; justify-content: center; overflow: hidden;}

.divv2 {width: 300px; height: 150px; background-color: white; position: absolute; top: 300px; border-radius: 20px; display: flex; flex-direction: column; align-items: center;}

.txt {font-size: 25px; color: black;}

.txt2 {font-size: 15px; color: black;}


.divv:hover > .divv2 {
    animation-name: move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes move {
    from {

        transform: translateX(0) translateY(0);

    }

    50% {
        transform: translateX(0) translateY(-170px);
    }

    to {

        transform: translateX(0) translateY(-110px);

    }
}




.divv:not(:hover) > .divv2 {
    animation-name: moven;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes moven {
    from {

        transform: translateX(0) translateY(-110px); z-index: 2;

    }

    50% {
        transform: translateX(0) translateY(-170px);
    }


    to {

        transform: translateX(0) translateY(0); z-index: 0;

    }
}


.divv:hover {
    animation-name: visable;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


@keyframes visable {
    from {
        overflow: hidden;
    }

    to {
        overflow: visible;
    }
}



.divv:not(:hover) {
    animation-name: novisable;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


@keyframes novisable {
    from {
        overflow: visible;
    }

    to {
        overflow: hidden;
    }
}


